{% extends 'barryinterior/base.html' %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block head %}
{% endblock %}
</head>
 
<body>
  {% block body %}
  <div id="main" class="row row-main">
	<div class="bradscrumb">
        <ul class="list_03">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'productpage' %}" class="active">Products</a></li>
        </ul>
        <div class="clear"></div>
	</div>
    <div class="our_product">
        <h2>Our <span>Products</span></h2>
        <div class="pro_thumb">
            <ul>
                {% for category in cat_list%}
                  <li><div class="img"><a href="{% url 'categoryview' category.id %}"style="color:white;" ><img  src="{{ category.Image.url }}" style="width: 225.81px; height: 140px;" alt=""><div class="code"><b><b>{{ category.CategoryName }}</b></a> </div></div>
                  </li>
                {% endfor %}
            </ul>
            <div class="clear"></div>
      	</div>
    </div>
  {% endblock %}      
</body>
</html>
